<h1>Interview Show Page</h1>
<p>Description: <%= @interview['description']%></p>
<p>Start at: <%= @interview['start_time']%></p>
<p>Ends at: <%= @interview['end_time']%></p>
<%= link_to "Back To Interview List",interviews_path%>